<!--具体表单内容-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <div class="form-top-left">
                    <h3>Login</h3>
                </div>
            </div>
            <div class="modal-body">
                <form role="form">


                    <!--<div text attr1="" attr2=""></div>-->
                    <!--<div text attr1="" attr2=""></div>-->
                    <!--<div choose attr1="" attr2="" attr3=""></div>-->
                    <!--<div largetext attr1="" attr2=""></div>-->

                    <!--<div text attr1="news.add.content.NewsTitlte" attr2="news.add.request.NewsTitlte"></div>-->
                    <!--<div date attr1="news.add.content.NewsDate" attr2="news.add.request.NewsDate"></div>-->
                    <!--<div choose attr1="news.add.content.NewsType" attr2="news.add.request.NewsType" attr3="news.type"></div>-->
                    <!--<div largetext attr1="news.add.content.NewsAbstract" attr2="news.add.request.NewsAbstract"></div>-->
                    <!--<div largetext attr1="news.add.content.NewsContent" attr2="news.add.request.NewsContent"></div>-->
                    <!--<div style="width: 100px;margin: 30px auto 0 auto"><button type="submit" class="btn btn-success" ng-bind="submitUp" html-get-order outside1="News_Create" outside2="news.add.request"></button></div>-->





                </form>
            </div>


        </div>
    </div>
</div>


