<div class="hundred">
    <div class="marginT">
        <nav>
            <ul class="pagination">
                <!--pageNumber指令的作用是生成最新的数字模型-->
                <!--pageAction指令的作用是点击发送请求，接受新页面的数据模型，并更新数据模型-->
                <li><a href="#">&laquo;</a></li>
                <li><a href="#" ng-bind="number.a"></a></li>
                <li><a href="#" ng-bind="number.b"></a></li>
                <li><a href="#" ng-bind="number.c"></a></li>
                <li><a href="#" ng-bind="number.d"></a></li>
                <li><a href="#" ng-bind="number.e"></a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </nav>
    </div>
</div>
